@import "core/reset";
@import "core/variables";
@import "core/mixins";
@import "layouts/header";
@import "layouts/new-section";
@import "layouts/article-section";
@import "layouts/reasons-section";
@import "layouts/footer";

// @import "core/links";

.main {
  margin-left: $mobile_margin;
  margin-right: $mobile_margin;
}
@media all and (min-width: width 768px) {
  .main {
    margin-left: $tablet_margin;
    margin-right: $tablet_margin;
  }
}

@media all and (min-width: 1200px) {
  .main {
    margin-left: $desktop_margin;
    margin-right: $desktop_margin;
  }
}
