<footer class="footer">
  <div class="arrow">
    <a href="#" title="Go up" class="arrow__link">
      <img src="../assets/images/ico-arrow.svg" alt="Icon to go up" class="arrow__link__image" />
    </a>
  </div>
  <nav class="menu">
    <ul class="pages-menu">
      <li class="pages-menu__item">
        <a href="#" class="link">Articles</a>
      </li>
      <li class="pages-menu__item">
        <a href="#" class="link">Books</a>
      </li>
      <li class="pages-menu__item">
        <a href="#" class="link">Events</a>
      </li>
      <li class="pages-menu__item">
        <a href="#" class="link">Reasons</a>
      </li>
      <li class="pages-menu__item">
        <a href="#" class="link">Tips</a>
      </li>
    </ul>
    <ul class="social">
      <li class="social__ittem">
        <a href="#" class="link">Twitter</a>
      </li>
      <li class="social__ittem">
        <a href="#" class="link">Instagram</a>
      </li>
      <li class="social__ittem">
        <a href="#" class="link">Mastodon.social</a>
      </li>
    </ul>
  </nav>
  <div class="copyrigth">
    <h4 class="copyrigth__title">c2017</h4>
    <p>We components</p>
  </div>
</footer>
