<footer class="footer">
  <div class="arrow">
    <a href="#top" title="Top" class="arrow__link">
      <img src="./assets/images/ico-arrow.svg" alt="Icon to go up" class="arrow__link__image" />
    </a>
  </div>
  <nav class="nav-pages">
    <ul class="pages-menu">
      <li class="pages-menu__item">
        <a href="#" class="link">Articles</a>
      </li>
      <li class="pages-menu__item">
        <a href="#" class="link">Books</a>
      </li>
      <li class="pages-menu__item">
        <a href="#" class="link">Events</a>
      </li>
      <li class="pages-menu__item">
        <a href="#" class="link" title="">Reasons</a>
      </li>
      <li class="pages-menu__item">
        <a href="#" class="link">Tips</a>
      </li>
    </ul>
  </nav>
  <nav class="nav-social">
    <ul class="social">
      <li class="social__ittem">
        <a href="#" class="link">Twitter</a>
      </li>
      <li class="social__ittem">
        <a href="#" class="link">Instagram</a>
      </li>
      <li class="social__ittem">
        <a href="#" class="link">Mastodon.social</a>
      </li>
    </ul>
  </nav>
  <div class="copyright">
    <h4 class="copyright__title">c2017</h4>
    <p class="copyright__text">We <span class="heart">&hearts;</span> components</p>
  </div>
</footer>
