<header class="header">
  <span id="top"></span>
  <div class="ico-menu">
    <img src="../assets/images/ico-menu.svg" alt="" class="ico-menu__image" />
  </div>
  <div class="header__title">
    <h1 class="header__title--big-title">Anonymous proxy</h1>
    <h3 class="header__title--subtitle">In hac habitase platea dictumst</h3>
  </div>
  <div>
    <a href="#reasons" class="scroll-down-link">
      <img src="../assets/images/ico-scroll-down.svg" alt="" title="Reasons to purchase" class="ico-scroll-down" />
    </a>
  </div>
</header>
