<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Final Evaluation Mod-1</title>
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <header class="header">
      <img src="../assets/images/ico-menu.svg" alt="" class="ico-menu" />
      <title class="header__title">
        <h1 class="header__title--big-title">Anonymous proxy</h1> <h3 class="header__title--subtitle">In hac habitase platea dictumst</h3>
      </title>
      <div>
        <a href="#" class="">
          <img src="../assets/images/ico-scroll-down.svg" alt="" title="Go down" class="ico-scroll-down" />
        </a>
      </div>
    </header>
    <main class="main">
      <section class="article-section">
        <article class="article">
          <h6 class="article__title--subtitle">Insomnia tips</h6>
          <h2 class="article__title--big-title">Looking through a window</h2>
          <p class="article__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit dolorum consequatur delectus neque nulla nam fuga nesciunt commodi unde deleniti!</p>
        </article>
        <a href="#" title="Go to the whole article" class="article__link">Go</a>
      </section>
      <section class="reasons-section">
        <h2 class="reasons-section__title">3 reasons to purchase</h2>
        <div class="reasons">
          <h3 class="reasons__title">Ut sed metus</h3>
          <p class="reasons__text">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="reasons">
          <h3 class="reasons__title">Curabitur ac erat</h3>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="reasons">
          <h3 class="reasons__title">Morbi dictum</h3>
          <p class="reasons__text">Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </section>
    </main>
    <footer class="footer">
      <div class="arrow">
        <a href="#" title="Go up" class="arrow__link">
          <img src="../assets/images/ico-arrow.svg" alt="Icon to go up" class="arrow__link__image" />
        </a>
      </div>
      <nav class="menu">
        <ul class="pages-menu">
          <li class="pages-menu__item">
            <a href="#" class="link">Articles</a>
          </li>
          <li class="pages-menu__item">
            <a href="#" class="link">Books</a>
          </li>
          <li class="pages-menu__item">
            <a href="#" class="link">Events</a>
          </li>
          <li class="pages-menu__item">
            <a href="#" class="link">Reasons</a>
          </li>
          <li class="pages-menu__item">
            <a href="#" class="link">Tips</a>
          </li>
        </ul>
        <ul class="social">
          <li class="social__ittem">
            <a href="#" class="link">Twitter</a>
          </li>
          <li class="social__ittem">
            <a href="#" class="link">Instagram</a>
          </li>
          <li class="social__ittem">
            <a href="#" class="link">Mastodon.social</a>
          </li>
        </ul>
      </nav>
      <div class="copyrigth">
        <h4 class="copyrigth__title">c2017</h4>
        <p>We components</p>
      </div>
    </footer>
  </body>
</html>
