.article-section {
  // border: springgreen 3px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.875rem 0.9375rem 2.813rem 0.9375rem;
}
.article {
  // border: green solid 3px;
  &__title--subtitle {
    // border: hotpink 3px solid;
    @include special_title;
  }
  &__title--big-title {
    // border: turquoise 3px solid;
    @include big_title;
  }
  &__text {
    // border: steelblue 3px solid;
    @include article_text;
  }
}
.article__link {
  border: $button_color 2px solid;
  border-radius: 1.375rem;
  width: 4.75rem;
  font-size: $button_font_size;
  font-family: $text_font_family;
  color: $button_color;
  text-decoration: none;
  text-align: center;
  transition: background-color ease 0.8s, color ease 0.8s;
  &:hover {
    background-color: $button_color;
    color: $light_color;
  }
}

@media all and (min-width: 768px) {
  .article {
    width: 45.63rem;
  }
  .article__title--big-title {
    font-size: 1.625rem;
  }
  .article__text {
    font-size: 1.25rem;
  }
  .article__link {
    width: 5.688rem;
    font-size: 1.25rem;
  }
}

@media all and (min-width: 1200px) {
  .article__title--big-title {
    font-size: 2rem;
  }
  .article__title--subtitle {
    font-size: 1rem;
  }
  .article__text {
    font-size: 1.25rem;
  }
  .article__link {
    width: 10rem;
    height: 2.813rem;
    font-size: 1.25rem;
  }
}
