.footer {
  display: block;
  flex-direction: column;
  align-items: center;
  background: $footer_background;
  @include footer_text;
  padding: 2.5rem 0.9375rem 2.813rem 0.9375rem;
}

.arrow-container{
  display: flex;
  justify-content: center;
  position: relative;
  top: -3.875rem;

}
.arrow {
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  background: #fff;
  &__link {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    top: 0.625rem;
  }
}
.footer-inner{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav-pages,
.nav-social {
  padding-right: 2rem;
}
.pages-menu {
  text-align: center;
  &__item {
    text-decoration: none;
    list-style: none;
  }
}
.social {
  text-align: center;
  list-style: none;
}

.copyright {
  text-align: center;
  font-size: $smaller_font_size;
  text-transform: lowercase;
  padding-left: 0.6rem;
}

.heart {
  color: $button_color;
}

.link {
  text-decoration: none;
  color: #fff;
}

@media all and (min-width: 768px) {
 .footer-inner{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .arrow {
    top: -3.8rem;
  }
  .nav-pages{
  // .nav-pages,
  // .nav-social {

    padding-left: 6.28rem;
  }

  .copyright {
    order: -1;
  }
}
@media all and (min-width: 1200px) {
  .footer-inner{
    justify-content: space-evenly;
  }
  .arrow {
    top: -3.8rem;
  }
}
