.footer {
  display: block;
  flex-direction: column;
  align-items: center;
  background: $footer_background;
  @include footer_text;
  padding: 2.5rem 0.9375rem 2.813rem 0.9375rem;
}

.flecha{
  // border: solid 2px red;
  display: flex;
  justify-content: center;
}
.arrow {
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  background: #fff;
  position: relative;
  top: -3.875rem;
  &__link {
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    top: 0.625rem;
  }
}
.pie{
  // border: solid 2px pink;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav-pages,
.nav-social {
  // border: solid red 1px;
  padding-right: 2rem;
  // width: 12.5rem;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // position: relative;
  // right: 1.188rem;
}
.pages-menu {
  text-align: center;
  &__item {
    text-decoration: none;
    list-style: none;
  }
}
.social {
  text-align: center;
  list-style: none;
}

.copyright {
  // border: solid white 1px;
  text-align: center;
  font-size: $smaller_font_size;
  text-transform: lowercase;
}

.heart {
  color: $button_color;
}

.link {
  text-decoration: none;
  color: #fff;
}

@media all and (min-width: 768px) {
  // .footer {
 .pie{
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .arrow {
    top: -3.8rem;
    // left: 23%;
  }
  .nav-pages{
    padding-left: 6rem;
  }

  .copyright {
    order: -1;
  }
}
@media all and (min-width: 1200px) {
  // .footer {
  .pie{
    justify-content: space-around;
  }
  .arrow {
    top: -3.8rem;
    // left: 13%;
  }
  .nav-pages{
    padding-left: 6.6rem;
  }

}
