.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  padding-top: 18rem;
  .ico-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 2.75rem;
    height: 2.75rem;
    background: #0271bc;

    &__image {
      width: 1rem;
      height: 0.875rem;
    }
  }

  &__title {
    width: 18.13rem;
    text-align: center;
  }

  &__title--big-title {
    @include bigger_title;
  }

  &__title--subtitle {
    @include bigger_title_subtitle;
    margin: 1.25rem;
  }
}
.scroll-down-link {
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 1.375rem;
  background: #fff;
  margin: 2.813rem 8.563rem 3.313rem 8.625rem;
  display: inline-block;
}
.ico-scroll-down {
  width: 1.25rem;
  height: 0.6875rem;
  position: relative;
  top: 1.063rem;
  left: 0.75rem;
}

@media all and (min-width: 768px) {
  .header__title {
    width: 43.13rem;
  }
  .header__title--big-title {
    font-size: 5rem;
  }
  .header__title--subtitle {
    font-size: 1.5rem;
  }
}

@media all and (min-width: 1200px) {
  .header__title {
    width: 45.63rem;
  }
  .header__title--big-title {
    font-size: 6.25rem;
  }
  .header__title--subtitle {
    font-size: 1.5rem;
  }
}
