.reasons-section {
  background: #eff9ff;
  display: grid;
  grid-template-columns: 1;
  text-align: center;
  height: auto;
  padding: 1.875rem 0.9375rem 3.75rem 0.9375rem;
  &__title {
    @include big_title;
  }
}
.reasons {
  margin-left: 3.438rem;
  margin-right: 3.438rem;
  @include reasons_text;
  &__title {
    font-weight: bold;
  }
}
.reasons-link {
  width: 11.5rem;
  // height: 2.813rem;
  border-radius: 1.375rem;
  justify-self: center;
  text-align: center;
  text-decoration: none;
  background: $button_color;
  color: $light_color;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  transition: color ease 1s;
  font-size: 1.25rem;
  &:hover {
    color: rgb(29, 22, 1);
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media all and (min-width: 678px) {
  .reasons-section {
    grid-template-columns: 3;
    grid-template-rows: 3;
    &__title {
      grid-column: span 3;
    }
  }
  .reasons {
    grid-column: span 1;
  }
  .reasons-link {
    grid-column: span 3;
  }
}
