// Font sizes
$greater_font_size: 2.625rem;
$big_font_size: 1.5rem;
$button_font_size: 1.25rem;
$big_text_font_size: 1.125rem;
$text_font_size: 1rem;
$smaller_font_size: 0.875rem;

// Font families
$title_font_family: RobotoSlab;
$text_font_family: Roboto;

// Font color
$light_color: #fff;
$text_color: #000;
$light_text_color: #4a4a4a;
$button_color: #f26002;
$special_font_color: #8ccbea;

// Margin
$mobile_margin: 1rem;
$tablet_margin: 2.438rem;
$desktop_margin: 17.19rem;
