// Font sizes
$greater_font_size: 42px;
$big_font_size: 24px;
$button_font_size: 20px;
$big_text_font_size: 18px;
$text_font_size: 16px;
$smaller_font_size: 14px;

// Font families
$title_font_family: RobotoSlab;
$text_font_family: Roboto;

// Font color
$light_color: #fff;
$text_color: #000;
$light_text_color: #4a4a4a;
$button_color: #f26002;
$special_font_color: #8ccbea;

// Margin
$mobile_margin: 16px;
$tablet_margin: 39px;
$desktop_margin: 275px;
